body{
    margin: 20px;
}

nav{
    background-color: rgb(230, 248, 231);
    display: flex;
    flex-direction: row;
    height:110px;
    padding: 10px
}

nav ul{
    display: flex
}

/* Le sacamos el • a los items del nav*/
nav li{
    margin-left: 10px;
    list-style: none
}

/* Le sacamos el subrayado a los enlaces del nav*/
nav a{
    text-decoration: none;
    color:white;
} 

nav a:hover{
    color: white
}

/* Hay que agregarle el display:flex porque esta dentro del nav, que tiene display:flex*/
nav img{
    display:flex;
    width: auto; /* para que tome el tamaño de la pantalla y lo ajuste al ancho de la misma */
    max-height: 80px
}

.menuButton{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
}

#bienvenida{
    background-color: blanchedalmond;
    margin:30px;
    padding:20px;
}

#bienvenida h1{
    display: flex;
    justify-content: center;
}

#bienvenida div{
    display:flex;
    justify-content: space-evenly;
}

#bienvenida p{
    width: 300px;
    text-align: justify;
}

#bienvenida p b{
    color:rgb(38, 145, 65);
}

#principiantes {
    background-color: rgb(254, 255, 205);
    display:flex;
    margin:30px;
    padding:20px;
    justify-content: space-evenly;
}

#principiantes h1{
    text-align: center;
}

#principiantes h5{
    height: 50px;
}

#principiantes p{
    width: 200px;
    height: 150px;
    text-align: justify;
    padding-right: 20px;
}

#principiantes img{
    width: 210px;
    height: 135px
}

.bouncing_icons {
    animation: bounce;
    animation-duration: 2s;
}

.card {
    background-color: beige;
    margin: 2px
}

#nations {
    background-color:rgb(255, 235, 204);
    display:flex;
    margin:30px;
    padding:20px;
    justify-content: space-evenly;
}

#diets {
    background-color:rgb(254, 255, 205);
    margin:30px;
    padding:20px;
}

#diets form{
    align-content: center;
}

footer {
    background-color:rgb(213, 236, 214);
    display:flex;
    justify-content: space-evenly;
    padding: 15px;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: grey
}

footer li{
    list-style: square
}

footer a{
    text-decoration: none;
    color: black
}

footer a:hover{
    color: rgba(9, 204, 51, 0.521)
}

footer div{
    margin: 10px
}

#social div {
    display: flex;
}